*.DS_Store*
.vscode
__pycache__/
.dev/
*.ptl
*.onnx
*.ts
*.tflite
*.pb
*.pt
*.pth
temp_data/
coco/
MY_NOTES.md
temp_data/
temp_data2/
important_paper_data/
Wmodeldata/
Wjitmodels/
WMACexec/
WImagenet21k/
converted_models/
Wonnxmodels/
temp.txt
temp.py
Wcoreml_models/
Wcoreml_models_old/
Wcoreml_models_alsoold/
*.zip
Wcoreml_models_CPU/
configs/cls/imagenet/default.yaml
*.out
*.error
my_venv/
*.ttraced
*.tscript
